# Jupyter Notebook artifacts
.ipynb_checkpoints/
__pycache__/

# KerasTuner logs and checkpoints
data/random_search/
data/grid_search/
data/random_search_dir/
data/grid_search_dir/
data/imdb_rnn/
data/mnist_cnn/
data/CNN_2.mp4/

# Model exports
*.h5
*.hdf5
*.keras

# Virtual Environments
env/
venv/
.venv/

# Datasets (Large files ignored)
data/UCI_HAR_Dataset/
data/ag_news_csv/
